body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

.login{
  color: white;
  background-color: #ef5350;
}
.login-icons {
  color: #616161;
}
@media only screen and (min-width: 768px) {
     .center-desktop{
        width: 65%;
        left: 68%;
    }
    .center-cadastro{
        width: 106%;
        left: 101%;
    }
    .caixa-respon{
        width: 35%;
        float: left;
        margin-left: 8%;
    }
    
    .caixa-finalizar{
        width: 25%!important;
    }
    
    .caixa-pagam{
        background: #b9b5b5d4!important;
        margin-left: 10%!important;
        margin-top: 7%!important;
        width: 30%%!important;
        float: left;
    }
    
    .table-perfil{
        color:  black;
        margin-left: 18%;
        width: 68%;
    }
    
    
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
        /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (max-width: 768px) {
    .center-cadastro{
        left: 2%;
    }
    
    .home-respon{
        width: 126%;
        margin-left: -13%;
    }
    
    .caixa-respon{
        width: 160%;
        float: left;
    }
    
     .caixa-finalizar{
        width: 100%!important;
    }
    
    .caixa-pagam{
        background: #b9b5b5d4!important;
        margin-left: 3%!important;
        margin-top: 7%!important;
        width: 94%!important;
    }
    
    .table-perfil{
        color:  black;
    }

}